---
- name: Invoke configure function
  ansible.builtin.include_role:
    name: network.base.resource_manager
  vars:
    operation: 'configure'
    config:
      - 'interfaces'
      - 'l2_interfaces'
      - 'l3_interfaces'
    state:
