---
- name: Invoke gather function
  ansible.builtin.include_role:
    name: network.base.resource_manager
  vars:
    operation: 'persist'
    resources:
      - 'interfaces'
      - 'l2_interfaces'
      - 'l3_interfaces'
    ignore_empty: "{{ persist_empty | default(true) }}"
